/* colors */
:root {
  --color-black: #0c0d0e;
  --color-white: white;
  --color-main: #333;
  --color-dark: rgb(18 19 21);
  --color-accent-blue: #4c696d;
  --color-accent-card: #6a8286;
  --color-hover: #01648d;
  --color-gray: #d2d9da;
  --color-accent: white;
}
body {
  font-family: "Fira Mono", monospace, "Roboto Mono", monospace,
    "Helvetica Neue", "Ubuntu", sans-serif, "Helvetica", "Arial";
  color: var(--color-accent-blue);
  background-color: var(--color-dark);
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: 1100px;

}
/* header */
.header {
  background-color: var(--color-white);
  color: var(--color-dark);
  box-shadow: 3px 2px 5px rgb(0 0 0 / 41%);
  position: relative;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 32px;
}
.header__title:hover {
  transform: rotate(180deg);
}
.header__list {
  display: flex;
}
.header__item {
  font-size: 22px;
  background: linear-gradient(to right, #000000, #a6a6a6);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.5s;
}
.header__item:hover {
  transform: translateY(-5px);
}
.header__nav-mobile {
  display: none;
}
.header__icon-mobile {
  font-size: 34px;
}
.header__list-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--color-dark);
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 9999;
  box-shadow: 2px 3px 1px var(--color-black);
  top: 80%;
}
.header__item-mobile:last-of-type{
  margin-top: 50px;
}
.header__item-mobile {
  font-size: 23px;
  margin-top: 15px;
  background: linear-gradient(to right, #4c696d, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s;
}
.header__item-mobile:hover {
  transform: translateY(-2px);
}
/* main */
.main {
  height: 100vh;
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}
.main__title {
  font-size: 99px;
  font-weight: 900;
  color: var(--color-white);
  text-transform: uppercase;
}
.main__subtitle {
  font-size: 66px;
  font-weight: 700;
}
.d2,
.d3,
.d4 {
  position: absolute;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}
.d2 {
  background-image: url("../img/code7.jfif");
  height: 50vh;
  width: 55vw;
  background-position: -10vw 50%;
  left: 10vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd2 10s infinite;
}
.d3 {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-dark);
  height: 100vh;
  width: 40vw;
  left: 25vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: dd3 10s infinite;
}
.d4 {
  background-image: url("../img/code4.jfif");
  height: 80vh;
  width: 25vw;
  left: 60vw;
  background-position: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd4 10s infinite;
}
@keyframes dd2 {
  0% {
  }
  50% {
    background-position: Calc(-10vw - 40px) 50%;
  }
}
@keyframes dd3 {
  0% {
  }
  50% {
    background-position: Calc(-35vw - 40px) 50%;
  }
}
@keyframes dd4 {
  0% {
  }
  50% {
    background-position: Calc(-70vw - 40px) 50%;
  }
}
/* about */
.about {
  text-align: center;
}
.about__title {
  text-align: start;
}
.about__passionate {
  margin-top: 20px;
  font-size: 64px;
  color: var(--color-white);
  font-weight: 900;
  background: linear-gradient(to right, #272727, #252525);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 6px 0px #ffffff;
}
.about__skills,
.about__lang,
.about__education {
  margin-top: 40px;
}
.about .fa-brands {
  color: var(--color-accent);
  font-size: 55px;
}
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 31px;
  font-weight: 800;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.dropdown span {
  margin-left: 10px;
  color: var(--color-white);
}
.dropdown-content {
  opacity: 0;
  position: absolute;
  background-color: var(--color-dark);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  transform: translateY(-5px);
  height: auto;
  width: 100%;
  transition: transform 1s;
}
.dropdown-content p {
  background: linear-gradient(to right, #607d8b, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dropdown:hover{
  opacity: 70%;
}
.dropdown:hover .dropdown-content {
  opacity: 1;
  position: static;
  transform: translateY(5px);
}
.about .fa-github {
  color: var(--color-hover);
}
.fa-angles-down {
  font-size: 18px;
  color: var(--color-white);
  margin: 0 auto;
}
.about__btns {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.about__btns .link:first-child {
  margin-bottom: 40px;
}
.title--small {
  font-size: 22px;
  text-transform: lowercase;
  color: var(--color-hover);
  letter-spacing: 10px;
  margin-bottom: 15px;
}
h3.title--small {
  letter-spacing: 2px;
  font-weight: 900;
}

/* projects */
.projects {
  background-image: url("../img/code3.jfif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project__cards-flex {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}
.project__card {
  width: 100%;
  height: auto;
  background-color: rgb(20 21 23 / 39%);
  display: flex;
  align-items: center;
  box-shadow: 3px 2px 5px rgb(0 0 0 / 41%);
}
.project__card:hover {
  background-color: rgb(20 21 23);
}
.project__card-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
}
.project__img {
  box-shadow: 3px 2px 5px rgb(0 0 0 / 41%);
  max-width: 50%;
}
.project__img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: transform 0.5s;
}
.project__img img:hover {
  transform: scale(1.1);
}
.project__descr {
  padding: 20px;

}
.project__card-descr {
  margin-top: 50px;
  font-size: 14px;
  background: linear-gradient(to right, #4c696d, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.project__link {
  display: inline-block;
  margin-top: 30px;
  font-size: 33px;
  color: var(--color-white);
}
.project__link:first-child {
  margin-right: 15px;
}
.project__link:hover {
  opacity: 70;
  transform: scale(1.2);
}
/* contact */
.contact {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-image: url("../img/code1.jfif");
  background-position: center;
  background-size: cover;

}
.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: rgb(20 21 23 / 39%);
  box-shadow: 3px 2px 5px rgb(0 0 0 / 41%);
  font-size: 18px;
  font-weight: 500;
  color: var(--color-gray);
}
.contact__info:hover {
  background-color: rgb(20 21 23/ 70%);
}
.contact__details{
  
}
.contact__link {
  margin-top: 150px;
  display: block;
  padding: 20px;
}
/* footer */
.footer {
  margin-top: 100px;
  padding: 10px;
}
.footer__content {
  text-align: center;
}
.footer__content div {
  margin-top: 10px;
  color: white;
}
.footer__content span {
  background: linear-gradient(to right, #607d8b, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}
.footer__mobile {
  display: none;
  margin-top: 17px;
  text-transform: uppercase;
  background: linear-gradient(to right, #607d8b, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* general */
.about,
.projects,
.contact {
  height: 100%;
  margin-top: 50px;
  padding: 60px 0;
}
.parallax {
  height: 100%;
}
.paralax-elem {
  transform: translateY(60%);
  transition: transform 0.6s ease-out;
}
.social-links {
  display: block;
}
.social-icon {
  font-size: 24px;
}
.social-icon:hover {
  background: linear-gradient(to right, #4c696d, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-icon:not(:last-child),
.header__item:not(:last-child) {
  margin-right: 15px;
}
.text--shadow {
  -webkit-text-fill-color: transparent;
  text-shadow: #04b3ff 14px 0 8px;
}
.text--shadow:hover {
  text-shadow: #04b3ff 14px 0 3px;
  text-transform: capitalize;
}
.link {
  padding: 20px;
}
.link--neon {
  box-shadow: 3px -5px 11px 3px var(--color-accent);
  font-weight: 900;
  border: none;
}
.link--neon:hover {
  color: var(--color-accent);
  box-shadow: 3px -5px 11px 6px var(--color-accent);
}
.important {
  font-weight: 700;
}
img {
  width: 100%;
  height: auto;
}
a {
  transition: transform 0.6s, color 0.5s;
}

/* loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: var(--color-dark);
  z-index: 1000;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--color-hover);
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  z-index: 99999;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
}
.loaded #loader {
  opacity: 0;
}

/* media */
/* 1100px */
@media screen and (max-width: 1100px) {
  .container {
    padding: 10px;
  }
  .main__subtitle {
    font-size: 46px;
  }
  
  .d2 {
    height: 72vh;
    width: 196vw;
    left: 5vw;
    top: 10%;
    transform: translateY(0);
  }
  .d3 {
    height: 62vh;
    width: 80vw;
    top: 30%;
  }
  .d4 {
    height: 131vh;
    width: 50vw;
    left: 5vw;
  }
  .projects .container {
    padding: 0;
  }
}
/* 900px */
@media screen and (max-width: 900px) {
  .header__list {
    display: none;
  }
  .header__nav-mobile {
    display: block;
  }
  .project__card {
    flex-wrap: wrap;
  }
  .project__img {
    max-width: 100%;
  }
  .social-links {
    display: none;
  }
}
/* 680 */
@media screen and (max-width: 680px) {
  .link {
    font-size: 14px;
  }
  .main,
  .about,
  .projects,
  .contact {
    margin-top: 0;
    padding: 0 0 60px;
  }
  .d3 {
    left: 0;
    width: 100%;
    top: 45%;
    background: url(../img/code3.jfif);
  }
  .d2 {
    height: 162vh;
    left: 0;
    background-position: center;
    transform: translateY(-325px);
  }
  .d4 {
    display: none;
  }
  .project__descr {
    padding: 20px 5px;
  }
  .about__passionate,
  .main__subtitle {
    font-size: 41px;
  }
  .main__title {
    font-size: 66px;
  }
  .main__subtitle {
    text-shadow: #04b3ff 0 0 2px;
  }
  .main__subtitle:hover {
    text-shadow: #04b3ff 0 0 0px;
  }
  .contact__info {
    height: 500px;
    background-color: rgb(20 21 23 / 80%);
  }
  .footer__content span {
    display: none;
  }
  .footer__mobile {
    display: block;
  }
}
